<!-- FLOAT ICON -->
<a href="/">
    <i class="fas fa-undo returnIcon"></i>
    <p class="returnText"><strong>RETURN</STRONG></p>
</a>

<div class="textMarginFull">
    <h1 class="h1Results">{{ title }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="h2Results">{{ team1 }}</h2>
        </div>
        <div class="col-6">
            <h2 class="h2Results">{{ team2 }}</h2>
        </div>
    </div>

    <!-- LOGOS -->

    <div class="row">
        <div class="col-12">
            <h3 class="h3Results">Wins</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="winTotal">{{ team1Wins }} - {{ team2Wins }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="tieTotal">[ties: {{ ties }}]</h5>
        </div>
    </div>
</div>

<div class="container containerBox">
    <div class="row containerHover">
        <div class="col-12">
            <h6 class="h6Results">
                <i class="fas fa-caret-down"></i>
                <strong>LAST FIVE</strong>
                <i class="fas fa-caret-down"></i>
            </h6>
        </div>
    </div>

    <!-- FIRST GAME (MOST RECENT) -->
    <div class="containerHoverInner">
        {{#each games}}
            <div class="row">
                <div class="col-12 textCenter textMarginHalf">
                    <h7 class="h7Results">{{ higher }} - {{ this.lower }} ({{ this.winner }})</h7>
                </div>
            </div>
            <div class="row">
                <div class="col-12 textCenter">
                    <h8 class="h8Results">({{ this.season }})</h8>
                </div>
            </div>
        {{/each}}
    </div>
</div>